<%= form_with(model: [:admin, student]) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :permanent_address %>
    <%= form.text_field :permanent_address, class:"form-control" %>
  </div>

    <div class="field">
    <%= form.label :local_address %>
    <%= form.text_field :local_address, class:"form-control" %>
  </div>

  
  <div class="field">
    <%= form.label :alternate_contact_number %>
    <%= form.text_field :alternate_contact_number, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :permanent_contact_number %>
    <%= form.text_field :permanent_contact_number, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control" %>
  </div>
  <div class="actions">
    <%= form.submit class: "btn btn-primary mt-3" %>
  </div>
<% end %>
