<p id="notice"><%= notice %></p>

<div class="jumbotron shadow">
 <h1 class="display-3"><%= @course.title %></h1>
  <p class="lead">Course</p>
  <hr class="my-4">
  <p><%= @course.description %></p>
  <div class="d-flex flex-row">
    <%= link_to 'Edit', edit_admin_course_path(@course), class:"btn btn-primary " %>
    <%= link_to 'Back', admin_courses_path, class:"btn btn-dark ml-3"%>
  </div>
</div>
